body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#600000+0,c40000+100 */
background: rgb(96,0,0); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(96,0,0,1) 0%, rgba(196,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(96,0,0,1)), color-stop(100%,rgba(196,0,0,1))); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(-45deg,  rgba(96,0,0,1) 0%,rgba(196,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(-45deg,  rgba(96,0,0,1) 0%,rgba(196,0,0,1) 100%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(-45deg,  rgba(96,0,0,1) 0%,rgba(196,0,0,1) 100%); /* IE10 preview */
background: linear-gradient(135deg,  rgba(96,0,0,1) 0%,rgba(196,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#600000', endColorstr='#c40000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

background-size: 100% 1080px;

margin-top: 20%;
position: relative;
top: 50%;
transform: translateY(-30%);
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 45pt;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

table{
    margin: 0 auto;
}
tr{
    padding: 50px 0;
}
td.label{
    text-align: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}
td.campo{
    width: 300px;
    position: relative;
    top: 45%;
    transform: translateY(-40%);
}
td.botao{
    text-align: center;
}

span.dados{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    margin: 20px;
    height: 35px;
    color: #fff;
    display: block;    
}

div#resultado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    margin-left: 35px;
    color: #fff;
}

input.dados{
    padding: 10px;
    padding-left: 20px;
    background: transparent;
    border: 0;
    border-bottom: #fff groove;
    border-radius: 7px;
    border-bottom-width: 2px;
    color: #fff;
    display: block;
    margin-left: 20px;
    width: 250;
    font-size: 16pt;

}

button.enviar{
    padding: 14px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    border: 1px #fff solid;
    background: transparent;
    color: #fff;
    transition: 0.1s;
}
button:active{
    color: #600000;
    background: #fff;
    transition: 0.1s;
}